<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true"
>

    <import resource="TrainContext.xml"/>
    <import resource="BookContext.xml"/>
    <import resource="EnjoymentContext.xml"/>
    <import resource="FoodContext.xml"/>
    <import resource="WashingContext.xml"/>
    <import resource="ActivitiesContext.xml"/>

    <bean id="adventure" class="adventure.Adventure" depends-on="hero" init-method="start"/>
    <bean id="hero" class="hero.Hero"
          c:name="Sir"/>

    <bean id="girl" class="hero.Girl"/>

    <bean id="level" class="hero.Level"/>

    <bean id="printer" class="utils.Printer"/>
    <bean id="time" class="utils.Time"/>
    <bean id="help" class="utils.Help" init-method="showInfo" scope="prototype"/>
    <bean id="exit" class="utils.Exit"/>

    <bean id="actionProcessor" class="logic.ActionProcessor"/>

</beans>